[submodule "extlibs/googletest"]
	path = extlibs/googletest
	url = https://github.com/google/googletest.git
[submodule "extlibs/tlx"]
	path = extlibs/tlx
	url = https://github.com/tlx/tlx
[submodule "extlibs/robin_hood"]
	path = extlibs/robin_hood
	url = https://github.com/martinus/robin-hood-hashing.git
